.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  margin-top: 50px;
  padding-top: 10px;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

/*Bulma customisation
https://versions.bulma.io/0.7.0/documentation/overview/customize/
*/
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$footer-background-color: #fff;

/* Bulma */
@import "bulma";
